cmake-build-debug
.idea
/.vs
/CMakeFiles
/Debug
/Lab.dir/Debug
/x64/Debug/ZERO_CHECK
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/CMakeCache.txt
/cmake_install.cmake
/Lab.sln
/Lab.vcxproj
/Lab.vcxproj.filters
/Lab.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
